// bower:sass
// endbower

$cell-width: 1em
$cell-height: 1em

$border-width: .05em

$color-border: #272b33
$color-font: rgb(157, 165, 180)
$button_font-color: rgba(157, 165, 180, .6)
$color-outline: rgb(24, 26, 31)
$color-background: rgb(40, 44, 52)
$color-cell: rgb(49, 54, 63)
$color-white: #abb2c1

$header_outline: .04em

$font-size: 4em
$font-size-huge: 8em

$break-xs: 320px
$break-sm: 480px
$break-md: 800px
$break-lg: 1200px

$break-xs_font-size: 8px
$break-sm_font-size: 10px
$break-md_font-size: 16px
$break-lg_font-size: 16px

body
  background: $color-background
  font-family: 'Roboto', sans-serif
  font-weight: 900

.header
  color: $color-font
  font-size: $font-size
  font-style: italic
  text-shadow: (-$header_outline) (-$header_outline) 0 $color-outline, $header_outline (-$header_outline) 0 $color-outline, (-$header_outline) $header_outline 0 $color-outline, $header_outline $header_outline 0 $color-outline
  width: 70%
  margin: 0 auto
  height: 1.5em

.header_underline
  position: relative
  left: .3em

.header_overline
  position: relative
  bottom: .6em

.sudoku
  background: $color-border
  margin-left: auto
  margin-right: auto

.sudoku_cell
  border: $border-width solid $color-border
  background: $color-cell
  width: $cell-width
  height: $cell-height
  text-align: center
  font-size: $font-size
  color: $color-font
  line-height: 0

.sudoku_cell:nth-child(3n)
  border-right: $border-width*2.6 solid $color-border
.sudoku_cell:last-child
  border-right: none

.sudoku_row__border-bottom
  .sudoku_cell
    border-bottom: $border-width*2.6 solid $color-border

.buttons
  margin: 0 auto
  width: 70%
  table-layout: fixed
  border-collapse: collapse

.buttons_cell
  text-align: center
  padding: 0 .5em

.button
  color: $button_font-color
  width: 100%
  background: $color-cell
  border: $border-width solid $color-outline
  font-size: $font-size
  cursor: pointer
  text-transform: uppercase
  font-weight: 500

.module-wrapper
  margin: 1em auto

.number-selector
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, 0.7)
  transition: opacity 300ms
  visibility: hidden
  opacity: 0

.number-selector__visible
  visibility: visible
  opacity: 1

.number-selector_content
  margin: 12em auto

.number-selector_cell
  font-size: $font-size-huge
  width: $cell-width
  height: $cell-height
  text-align: center
  background: $color-cell
  color: $color-white

.number-selector_close
  font-size: $font-size*1.4

.number-selector_table
  margin: 0 auto
  table-layout: fixed

@media screen and (min-width: $break-xs)
  body
    font-size: $break-xs_font-size

@media screen and (min-width: $break-sm)
  body
    font-size: $break-sm_font-size

@media screen and (min-width: $break-md)
  body
    font-size: $break-md_font-size

@media screen and (min-width: $break-lg)
  body
    font-size: $break-lg_font-size

@media screen and (orientation: portrait)
  .buttons
    width: 100%
  .header
    width: 100%
